@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Playfair+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: aliceblue;
  background-color: #3a3b2b;
  display: flex;
  flex-direction: column;
  font-family: "Instrument Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  background-color: #23240b;
  padding: 0 1.25rem;
  color: aliceblue;
  flex-shrink: 0;
}
.header-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #7d703d;
  font-size: 1.5rem;
  background-color: #23240b;
  text-decoration: none;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3f4b4050;
  width: 80%;
  margin: 3% auto 3%;
  min-height: 55vh;
  text-align: center;
  color: aliceblue;
  flex: 1;
  padding-top: 6rem;
}

.home-title {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  color: #7d703d;
  font-size: 3rem;
  margin-bottom: 2rem;
}

footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
  
  header {
    padding: 1rem;
  }
  
  .header-title {
    font-size: 1.2rem;
  }
}

